# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Java
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/*.log
backend/hs_err_pid*

# Build / misc
**/dist/
**/build/
**/out/
